RedirectMatch 301 ^/skydocu/[^api/].*$ /skydocu/index.php
RedirectMatch 301 ^/skydocu/(app|cache|containers|data|resources|logs|services)/$ /skydocu/index.php
RedirectMatch 301 ^/skydocu/[^index][/].*\.php$ /skydocu/index.php