RedirectMatch 301 ^/skydocu/$ /skydocu/index.php
RedirectMatch 301 ^/skydocu/(app|cache|containers|data|logs|resources|services)/$ /skydocu/index.php
RedirectMatch 301 ^/skydocu/[^index].*\.php$ /skydocu/index.php