<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p class="widget-title">User information</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                $USER_PROFILE_PICTURE$
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                $USER_PROFILE_PICTURE_CHANGE_LINK$
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md">
                $USER_PROFILE$
            </div>
        </div>
    </div>
</div>