<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p id="page-title">Database</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-lg-1"></div>

            <div class="col-md col-lg">
                <div class="row">
                    <div class="col-md">
                        <p class="post-title">Database migrations</p>

                        <p><b>Current database schema:</b> $CURRENT_DB_SCHEMA$</p>
                        <p><b>Available database schema:</b> $AVAILABLE_DB_SCHEMA$</p>
                        
                        $DB_SCHEMA_UPDATE_LINK$
                    </div>
                </div>
            </div>

            <div class="col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>