<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p id="page-title">User profile</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-lg-2"></div>

            <div class="col-md col-lg">
                <div class="row">
                    <div class="col-md">
                        $LINKS$
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md" id="center">
                                <p class="widget-title">User information</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                $USER_PROFILE$
                                $component userProfile$
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="row">
                            <div class="col-md" id="center">
                                <p class="widget-title">User's group memberships</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md" id="grid">
                                $component userGroupMembershipsGrid$
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-1 col-lg-2"></div>
        </div>
    </div>
</div>