<div id="contact-tile-$USER_ID$" style="color: black; background-color: lightgrey; border: 1px solid black; border-radius: 12px">
    <a href="$USER_PROFILE_LINK$" style="color: black; text-decoration: none">
        <div>
            <br>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <img src="$USER_PROFILE_PICTURE_URI$" width="64px" height="64px" style="border-radius: 100px">
                </div>
            </div>

            <br>
            
            <div class="row">
                <div class="col-md">
                    <p class="page-text" style="margin-left: 10px">$USER_FULLNAME$</p>
                    <p class="page-text" style="margin-left: 10px"><small>$USER_INFO$</small></p>
                </div>
            </div>
        </div>
    </a>
</div>