<div id="$MODAL_ID$-modal-inner" style="
    visibility: hidden;
    height: 0px;
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: rgba(225, 225, 225,1);
    z-index: 9999;
    border-radius: 5px;
    ">
    <div class="row">
        <div class="col-md" style="margin-left: 10px; margin-top: 10px">
            $MODAL_TITLE$
        </div>

        <div class="col-md-1" id="right" style="margin-top: 10px; margin-right: 10px">
            $MODAL_CLOSE_BUTTON$
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md" style="margin-left: 10px; margin-right: 10px;" id="modal-grid">
            $MODAL_CONTENT$
        </div>
    </div>
</div>
<span>
    $SCRIPTS$
</span>