<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p id="page-title">Dashboard</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-lg-1"></div>

            <div class="col-md col-lg">
                $PERMANENT_FLASH_MESSAGE$
            </div>

            <div class="col-md-1 col-lg-1"></div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-1 col-lg-1"></div>

            <div class="col-md col-lg">
                <div class="row">
                    <div class="col-md">
                        <p class="widget-title">$PROCESSES_WAITING_FOR_ME_WIDGET_TITLE$</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md" id="grid">
                        $component waitingForMeWidget$
                    </div>
                </div>
            </div>

            <div class="col-md col-lg">
                <div class="row">
                    <div class="col-md">
                        <p class="widget-title">$PROCESSES_STARTED_BY_ME_WIDGET_TITLE$</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md" id="grid">
                        $component startedByMeWidget$
                    </div>
                </div>
            </div>

            <div class="col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>