<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p id="page-title">SkyDocu</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-lg-2"></div>

            <div class="col-md col-lg">
                <div class="row">
                    <div class="col-md">
                        $component containerStatsWidget$
                    </div>
                </div>
            </div>

            <div class="col-md-1 col-lg-2"></div>
        </div>
    </div>
</div>