body {
    overflow-x: hidden;
}

#page-content {
    margin-top: 60px;
}

@media screen and (max-width: 1000px) {
    #page-content {
        margin-top: 100px;
    }
}

.navbar-link {
    color: black;

    text-decoration: none;

    font-size: 20px;

    margin-left: 5px;
    margin-right: 5px;
}

.navbar-link:hover {
    text-decoration: underline;
}

#navbar {
    background-color: darkgrey;

    padding: 10px 5px;

    margin-left: 10px;
    margin-right: 10px;
}

#left {
    text-align: left;
}

#center {
    text-align: center;
}

#right {
    text-align: right;
}

#flash-messages {
    position: absolute;
    z-index: 9999;
    
    width: 90%;
    
    margin-left: 5%;
    margin-top: 5%;
}

.fm-info {
    color: blue;
    background-color: rgb(100, 150, 250);

    border: 1px solid blue;
}

.fm-error {
    color: rgb(140, 0, 0);
    background-color: rgb(255, 100, 100);

    border: 1px solid rgb(140, 0, 0);
}

.fm-success {
    color: rgb(1, 80, 1);
    background-color: rgb(100, 200, 100);

    border: 1px solid rgb(1, 80, 1);
}

.fm-warning {
    color: red;
    background-color: rgb(255, 190, 70);

    border: 1px solid red;
}

div[class^="fm-"], div[class*="fm-"] {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;

    border-radius: 5px;
}

.fm-link:hover {
    color: black;
}

#page-title, .page-title {
    font-size: 32px;
}

#gridbuilder-grid table {
    width: 100%;
}

.grid-control-button {
    border: 1px solid black;

    width: 40px;

    border-radius: 5px;

    margin-right: 5px;
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

#col-no-data-message {
    color: black;

    border: 1px solid black;

    background-color: lightgrey;

    text-align: center;
}

#col-title {
    background-color: lightgrey;

    text-align: center;
}

#gridbuilder-grid td, #gridbuilder-grid th {
    padding: 10px;
}