<hr>

<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md">
                <p class="changelog-title">
                    Comments
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                $component newCommentForm$
            </div>
        </div>

        <div class="row">
            <div class="col-md"></div>

            <div class="col-md-8">
                $COMMENTS$
            </div>
            
            <div class="col-md"></div>
        </div>
    </div>
</div>