<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p id="page-title">Process</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-lg-2"></div>

            <div class="col-md col-lg">
                <div class="row">
                    <div class="col-md">
                        $LINKS$
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md">
                                <div class="row">
                                    <div class="col-md">
                                        <p class="changelog-title">
                                            Basic information
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                        $PROCESS_BASIC_INFORMATION$
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1"></div>

                            <div class="col-md">
                                <div class="row">
                                    <div class="col-md">
                                        <p class="changelog-title">
                                            Actions
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                        $PROCESS_ACTIONS$
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                $PROCESS_COMMENTS$
            </div>

            <div class="col-md-1 col-lg-2"></div>
        </div>
    </div>
</div>