<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p id="page-title">Container settings</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-lg-2">
                $component sidebar$
            </div>

            <div class="col-md col-lg">
                <div class="row">
                    <div class="col-md">
                        <p class="post-title">Create technical account</p>

                        <hr>
                        
                        <p>This will create a technical account for given user. The user is automatically added to the container Administrators group.</p>

                        $CONTAINER_NEW_TECHNICAL_ACCOUNT_FORM_LINK$
                    </div>
                </div>

                <br>
                <br>
                <br>

                <div class="row">
                    <div class="col-md">
                        <p class="post-title">Run migrations</p>

                        <hr>

                        <p>This will run migrations on this container. The container will be turned off and turned back on after the migrations finish running.</p>

                        $CONTAINER_RUN_MIGRATIONS_LINK$
                    </div>
                </div>

                <br>
                <br>
                <br>

                <div class="row">
                    <div class="col-md">
                        <p class="post-title">Remove container from distribution</p>

                        <hr>

                        <p>This will permanently remove the container from distribution. That means that the container database schema will not be updated automatically during SkyDocu new version update.</p>

                        $CONTAINER_REMOVE_FROM_DISTRIBUTION_LINK$
                    </div>
                </div>

                <br>
                <br>
                <br>

                <div class="row">
                    <div class="col-md">
                        <p class="post-title">Delete container</p>

                        <hr>

                        <p>This will permanently delete the container and all its data. Created users will remain created and have to be remove manually.</p>

                        $CONTAINER_DELETE_LINK$
                    </div>
                </div>
            </div>

            <div class="col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>