<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p id="page-title">Container settings</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-lg-2">
                $component sidebar$
            </div>

            <div class="col-md col-lg">
                <div class="row">
                    <div class="col-md">
                        $LINKS$
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md" id="form">
                        $component containerNewTechnicalAccountForm$
                    </div>
                </div>
            </div>

            <div class="col-md-1 col-lg-1"></div>
        </div>
    </div>
</div>