<div class="row">
    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p id="page-title">Container settings</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-lg-2">
                $component sidebar$
            </div>

            <div class="col-md col-lg">
                <div class="row">
                    <div class="col-md-1 col-lg-2"></div>

                    <div class="col-md col-lg">
                        <div class="row">
                            <div class="col-md col-lg">
                                <p class="post-title">Container status</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md col-lg">
                                $LINKS$
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md col-lg" id="form">
                                $component containerStatusForm$
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 col-lg-2"></div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-lg-2"></div>

                    <div class="col-md col-lg">
                        <div class="row">
                            <div class="col-md col-lg">
                                <p class="post-title">Container permanent message <span title="This flash message will be displayed on the container's home screen. E.g. planned maintenance break, etc..">(?)</span></p>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md col-lg" id="form">
                                $component containerPermanentFlashMessageForm$
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 col-lg-2"></div>
                </div>
            </div>

            <div class="col-md-1 col-lg-2"></div>
        </div>
    </div>
</div>